<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<context-param>
	    <param-name>usuario_nombres</param-name>
	    <param-value>orion</param-value>
	</context-param>
	<context-param>
	    <param-name>usuario_apepa</param-name>
	    <param-value>orion</param-value>
	</context-param>
	<context-param>
	    <param-name>usuario_apema</param-name>
	    <param-value>orion</param-value>
	</context-param>
	<context-param>
	    <param-name>usuario_mail</param-name>
	    <param-value>adminorion@melon.cl</param-value>
	</context-param>
	<context-param>
	    <param-name>usuario_cargo</param-name>
	    <param-value>administrador</param-value>
	</context-param>
	<context-param>
	    <param-name>usuario_perfil</param-name>
	    <param-value>A</param-value>
	</context-param>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>cl.loso.melon.server.listener.InitListener</listener-class>
	</listener>
	<!-- Servlets -->
	<servlet>
		<servlet-name>HomeEquipoServlet</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.HomeEquipoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeEquipoServlet</servlet-name>
		<url-pattern>/equiposhome</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/novedadeshome</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>DescargaCSV</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.DescargaCSVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescargaCSV</servlet-name>
		<url-pattern>/descargacsv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.FileUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.FileDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Novedad</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.Novedad</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActualizaNovedad</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.ActualizaNovedad</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ReporteDiario</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.ReporteDiario</servlet-class>
		<init-param>
			<param-name>from</param-name>
			<param-value>adminorion@melon.cl</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ReporteNovedadesDiario</servlet-name>
		<servlet-class>cl.loso.melon.server.servlet.ReporteNovedadesDiario</servlet-class>
		<init-param>
			<param-name>from</param-name>
			<param-value>adminorion@melon.cl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/filedownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Novedad</servlet-name>
		<url-pattern>/novedad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActualizaNovedad</servlet-name>
		<url-pattern>/actualizanovedad</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ReporteNovedadesDiario</servlet-name>
		<url-pattern>/reportenovedadesdiario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteDiario</servlet-name>
		<url-pattern>/reportediario</url-pattern>
	</servlet-mapping>	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
